service: runlater

image: gautema/runlater

builder:
  arch: amd64
  remote: ssh://root@159.195.53.120

servers:
  web:
    hosts:
      - 159.195.53.120
    options:
      ulimit: nofile=65536:65536

proxy:
  ssl: true
  host: runlater.eu
  app_port: 4000
  healthcheck:
    path: /health

registry:
  server: ghcr.io
  username: gautema
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    PHX_HOST: runlater.eu
    PORT: 4000
    MIX_ENV: prod
    ADMIN_EMAIL: support@runlater.eu
    POOL_SIZE: 80
    RATE_LIMIT_PER_MINUTE: "500"
    RATE_LIMIT_PER_HOUR: "10000"
  secret:
    - SECRET_KEY_BASE
    - DATABASE_URL
    - MAILJET_API_KEY
    - MAILJET_SECRET_KEY
    - CREEM_API_KEY
    - CREEM_WEBHOOK_SECRET
    - CREEM_MONTHLY_PRODUCT_ID
    - CREEM_YEARLY_PRODUCT_ID

accessories:
  db:
    image: postgres:18
    host: 159.195.53.120
    port: "5432:5432"
    env:
      clear:
        POSTGRES_DB: runlater_prod
      secret:
        - POSTGRES_USER
        - POSTGRES_PASSWORD
    options:
      shm-size: 2304m
    cmd: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all -c shared_buffers=2GB -c effective_cache_size=4GB -c work_mem=4MB -c max_parallel_workers_per_gather=2
    directories:
      - /mnt/secure/postgresql-data:/var/lib/postgresql
