service: runlater

image: gautema/runlater

builder:
  arch: amd64
  remote: ssh://root@46.225.66.205

servers:
  web:
    hosts:
      - 46.225.66.205

proxy:
  ssl: true
  host: runlater.eu
  app_port: 4000
  healthcheck:
    path: /health

registry:
  server: ghcr.io
  username: gautema
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    PHX_HOST: runlater.eu
    PORT: 4000
    MIX_ENV: prod
    ADMIN_EMAIL: support@runlater.eu
    POOL_SIZE: 40
  secret:
    - SECRET_KEY_BASE
    - DATABASE_URL
    - MAILJET_API_KEY
    - MAILJET_SECRET_KEY
    - CREEM_API_KEY
    - CREEM_WEBHOOK_SECRET
    - CREEM_MONTHLY_PRODUCT_ID
    - CREEM_YEARLY_PRODUCT_ID

accessories:
  db:
    image: postgres:18
    host: 46.225.66.205
    env:
      clear:
        POSTGRES_DB: runlater_prod
      secret:
        - POSTGRES_USER
        - POSTGRES_PASSWORD
    options:
      shm-size: 256m
    cmd: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all -c shared_buffers=2GB -c effective_cache_size=4GB -c work_mem=64MB
    directories:
      - /mnt/secure/postgresql-data:/var/lib/postgresql
